@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4
   Park City Gazette Style Sheet
   Author: Melinda Chirila 
   Date: 10/25/2018 
   Filename: pcg_paper.css
   Supporting Files: 
*/
html {
    margin: 0px;
    padding: 0px;
    font-family: 'EstrangeloEdessaRegular';
    font-size: 20px;
}

header {
    width: 100%;
    margin: auto auto;
    display: block;
    padding: 0px;
    font-family: 'Permanent Marker', cursive;
    padding-left: 10px;
}

header img {
    width: 100%;
}

#heading1 {
    margin: 0px;
}

h1#heading2 {
    margin: auto auto;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    background-color: rgb(255, 187, 0);
}

h2#italicheading {
    padding: 0px;
    margin: 0px;
    clear: left;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

ul {
    padding-inline-start: 0px;
}

nav.vertical {
    background-color: rgb(117, 117, 117);
    width: 50%;
    padding-bottom: 700px;
    color: white;
    float: left;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #FFF1AA;
    font-size: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li:hover {
    color: #ffffff;
}

.divider {
    padding-top: 20px;
}

aside {
    background-color: rgb(117, 117, 117);
    padding-bottom: 700px;
    width: 50%;
    margin-left: 50%;
    color: white;
    float: right;
    text-align: center;

}

aside ul li {
    padding: 20px;
}

aside h1 {
    padding: 15px;
    font-size: 150%;
    text-decoration: underline;
    color: rgb(73, 73, 73);
    letter-spacing: 5px;
}

.right li a {
    color: #BCC;
}

.right .last {
    border: none;
}

.left {
    width: 12%;
    text-align: center;
}

body {
    background-attachment: fixed;
    margin: 0px 0px;
    background-repeat: round;
}

section#midsec {
    width: 100%;
}

section::after {
    clear: both;
    content: "";
    display: table;
}



img#blake {
    display: inline;
    margin-right: 0%;
}

p {
    position: relative;
    top: 0%;
    right: 0%;
    margin-top: 0%;
}

article[id^="story"] {
    height: 300px;
    float: left;
    overflow: auto;
    background-color: rgb(173, 173, 173);
}
/* colors for the article bubble is going to be mustard yellow */
article {
    display: block;
    box-shadow: 4px 4px 4px black;
    background-color: rgb(95, 94, 86);
    text-align: center;
    border: 2px solid black;
    border-radius: 35px;
    margin: 20px auto;
    margin-top: 15px;
    line-height: 1.5;
    display: block;
    padding: 20px;
    color: #BCC;
    text-shadow: 2px 1px 1px black;
}

footer {
    text-align: center;
    background-color: #4E5D79;
    clear: left;
}